.Input{
    border: none;
    background-color: #8080800d;
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    width: 300px;
    min-height: 30px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
}
