.Button{
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #80808047;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
}
